body{ background-color:#cbdea6;
    position: relative; 
    
}
.feedback-stats{
    padding: 2px 20px;
    position: relative;
    background-color: #a8c274;
    margin: 20px;
    border-radius: 15px;
}

.card{
    background-color: rgb(235, 222, 206);
    padding: 40px 20px;
    position: relative;
    margin: 20px;
    border-radius: 15px;
}


